*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/src/androidTest/*
app/src/test/*
app/debug/*
gradle/wrapper/gradle-wrapper.jar
gradlew
*.bat
app/proguard-rules.pro
app/src/main/java/com/mebk/pan/utils/HttpConfigure.kt
network/src/androidTest/java/com/mebk/network/ExampleInstrumentedTest.kt
projectFilesBackup/.idea/workspace.xml
